
@model UserSignUpViewModel
<section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: #ffff">
        <div class="container">
            <div class="row gx-lg-5 align-items-center">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <h1 class="my-5 display-3 fw-bold ls-tight">
                        Motolektro <br />
                        <span class="text-primary">Temiz Dünya</span>
                    </h1>
                    <p style="color: hsl(217, 10%, 50.8%)">
                        Motolektro'ya hoş geldiniz, elektrikle hareket eden geleceğin araçlarına dair en güvenilir ve yenilikçi e-ticaret platformuna adım attınız! Kayıt olun, elektrikli araç dünyasının heyecanını bizimle keşfedin
                    </p>
                </div>

                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card">
                        <div class="card-body py-5 px-md-5">
                            <form  asp-action="Index">
                                <!-- 2 column grid layout with text inputs for the first and last names -->
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <span asp-validation-for="@Model.NameSurname" class="text-danger"></span>
                                            <input  asp-for="@Model.NameSurname" type="text" id="form3Example1" class="form-control" />
                                            <label class="form-label" for="form3Example1">Ad Soyad</label>
                                        </div>
                                    </div>

                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                                            <input asp-for="@Model.UserName" type="text" id="form3Example1" class="form-control" />
                                            <label class="form-label" for="form3Example1">Kullanıcı Adı</label>
                                        </div>
                                    </div>

                                    <!-- Email input -->
                                    <div class="col-md-12 mb-4">
                                        <span asp-validation-for="@Model.Mail" class="text-danger"></span>
                                        <input asp-for="@Model.Mail" type="email" id="form3Example3" class="form-control" />
                                        <label class="form-label" for="form3Example3">Email Adresiniz</label>
                                    </div>

                                    <!-- Password input -->
                                    <div class="form-outline mb-4">
                                        <span asp-validation-for="@Model.Password" class="text-danger"></span>
                                        <input asp-for="@Model.Password" type="password" id="form3Example4" class="form-control" />
                                        <label class="form-label" for="form3Example4">Şifre</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                                        <input asp-for="@Model.ConfirmPassword" type="password" id="form3Example4" class="form-control" />
                                        <label class="form-label" for="form3Example4">Şifre Tekrar</label>
                                    </div>

                                    <!-- Checkbox -->
                                    <!-- Submit button -->
                                    <button type="submit" class="btn btn-primary btn-block mb-4">
                                        Kayıt Ol
                                    </button>
                                </div>
                                <a asp-controller="Login" asp-action="Index">Zaten bir hesabın var mı ? Giriş Yap</a>

                                <div class="text-danger" asp-validation-summary="ModelOnly">

                                </div>


                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->